.modal {
  position: relative;
}
.modal__openBtn {
  position: absolute;
}
.modal__bgPanel {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 50%;
}
.modal__frontPanel {
  position: absolute;
  width:  350px;
  height: 150px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__frontPanel-content {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__frontPanel-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}