a {
  text-decoration: none;
  color: inherit;
}
.tab__label {
  display: flex;
}
.tab__item {
  padding: 10px 50px;
  border: 1px solid #eee;
}
.tab__content {
  font-size: 24px;
  margin: 10px 0;
}
.selected {
  background: #000;
  color:#fff;
}